  <!-- (A) SIDEBAR -->
  <div id="pgside">
    <!-- (A1) BRANDING OR USER -->
    <!-- LINK TO DASHBOARD OR LOGOUT -->
    <div id="pguser">
      <img src="/img/potato.png">
      <i class="txt">MY ADMIN</i>
    </div>

    <!-- (A2) MENU ITEMS -->
    <a href="/postAdmin">
      <i class="ico">&#9733;</i>
      <i class="txt">Posts</i>
    </a>
    <a href="/categoryAdmin">
      <i class="ico">&#9728;</i>
      <i class="txt">Category</i>
    </a>
    <a href="/users">
      <i class="ico">&#9737;</i>
      <i class="txt">Users</i>
    </a>
    <a href="/contactAdmin">
      <i class="ico">&#9743;</i>
      <i class="txt">Contacts</i>
    </a>
    <a href="/archive">
      <i class="ico">&#9734;</i>
      <i class="txt">Archive</i>
    </a>
    <a href="/logout">
      <i class="ico">&#9765;</i>
      <i class="txt">Logout</i>
    </a>
  </div>
